BUILD_HAZ
lib/libhazmath.*
include/hazmath.h
haz_docs/html_docs
haz_docs/tex_docs
haz_docs/html_docs/*.*
haz_docs/tex_docs/*.*
*.dSYM/
*.ex
*/*.ex
*.o
*.a
*~
*.mod
\#*
.\#*
.DS_Store
octave-workspace
examples/HeatEquation/*.vtu
examples/HDEquation/*.vtu
examples/HDEquation/*.dat
HAZMATH.config
HAZMATH.creator
HAZMATH.creator.user
HAZMATH.files
HAZMATH.includes
HAZMATH.pro