BUILD_HAZ
lib/libhazmath.*
include/hazmath.h
include/haznics_add.h
haz_docs/html_docs
haz_docs/tex_docs
haz_docs/html_docs/*.*
haz_docs/tex_docs/*.*
*.dSYM/
*.ex
*/*.ex
*.o
*.a
*~
*.mod
\#*
.\#*
*.bak
.DS_Store
swig_files/
octave-workspace
examples/HeatEquation/output/*.vtu
examples/HeatEquation/output/*.dat
examples/HeatEquation/output/*.pvd
examples/HDEquation/output/*.vtu
examples/HDEquation/output/*.dat
examples/Stokes/output/*.vtu
examples/Stokes/output/*.dat
examples/DarcyFlow/output/*.vtu
examples/DarcyFlow/output/*.dat
examples/DarcyFlow/output/*.pvd
examples/Maxwell/output/*.vtu
examples/Maxwell/output/*.dat
examples/Maxwell/output/*.pvd
examples/ConvectionDiffusion/output/*.vtu
examples/ConvectionDiffusion/output/*.dat
HAZMATH.config
HAZMATH.creator
HAZMATH.creator.user
HAZMATH.files
HAZMATH.includes
HAZMATH.pro
junk.*
*.bak
hazmath-*.tar.gz
