BUILD_HAZ/
lib/
include/hazmath.h
include/haznics_add.h
haz_docs/html_docs
haz_docs/tex_docs
haz_docs/html_docs/*.*
haz_docs/tex_docs/*.*
*.dSYM/
*.ex
*/*.ex
*.o
*.a
*~
*.mod
\#*
.\#*
*.bak
.DS_Store
swig_files/
cbc.block/
fenics_ii/
quadpy/
ulfy/
octave-workspace

HAZMATH.config
HAZMATH.creator
HAZMATH.creator.user
HAZMATH.files
HAZMATH.includes
HAZMATH.pro
junk.*
*.bak
hazmath-*.tar.gz
trabajo/
trabajo/*
examples/fractures/LS/matrix_structure3.dat
examples/fractures/LS/matrix_structure2.dat
examples/fractures/LS/matrix_structure1.dat

examples/haznics/*.pvd
examples/haznics/*.vtu
examples/haznics/results/
examples/xd_1d_models/input/solver.input
.vscode/
