ex1
ex2
ex3
ex4
get_mat.m
graphs/Precip/AgMERRA_Precip_by_mo_tot/*_1
graphs/Precip/AgMERRA_Precip_by_mo_tot/*_2
graphs/Precip/AgMERRA_Precip_by_mo_tot/images/*
graphs/Precip/AgMERRA_Precip_by_mo_tot/levels/*.data
graphs/Precip/AgMERRA_Precip_by_mo_tot/levels/images/*
tests/*test
